**/dataset/
ssd_resnet50_v1_fpn_640x640_coco17_tpu-8.tar.gz
ssd_resnet50_v1_fpn_640x640_coco17_tpu-8.tar.gzZone.Identifier
iu_classification/IU_face.h5
iu_classification/IU_face_pretrained.h5
iu_detection/models/my_ssd_resnet50_v1_fpn/ckpt-29.data-00000-of-00001
iu_detection/models/my_ssd_resnet50_v1_fpn/ckpt-33.data-00000-of-00001
iu_detection/models/my_ssd_resnet50_v1_fpn/ckpt-34.data-00000-of-00001
iu_detection/models/my_ssd_resnet50_v1_fpn/ckpt-35.data-00000-of-00001
iu_detection/models/my_ssd_resnet50_v1_fpn/ckpt-30.data-00000-of-00001
iu_detection/models/my_ssd_resnet50_v1_fpn/ckpt-31.data-00000-of-00001
iu_detection/models/my_ssd_resnet50_v1_fpn/ckpt-32.data-00000-of-00001
iu_detection/exported-models/my_model/checkpoint/ckpt-0.data-00000-of-00001
iu_detection/pre-trained-models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/checkpoint/ckpt-0.data-00000-of-00001
iu_detection/pre-trained-models/ssd_resnet50_v1_fpn_640x640_coco17_tpu-8/saved_model/variables/variables.data-00000-of-00001
iu_detection/exported-models/my_model/saved_model/variables/variables.data-00000-of-00001
**/variables/
**/checkpoint/
